<p class="banks-index-quote">
  “Anyone who has never made a mistake has never tried anything new.”
  <br>- Albert Einstein
</p>

<div class="banks-box">
  <h2 class="my-banks-title">My Word Banks</h2>
  <ul class="bank-list">
    <% @banks.each do |bank| %>
      <li class="bank-list-item"><%= link_to "#{bank.title}", user_bank_path(current_user.id, bank) %></li>
    <% end %>
  </ul>
</div>

<p class="banks-index-quote-right">
  “It is the mark of an educated mind to be able to entertain a thought without accepting it.” <br>- Aristotle
</p>
