<% if @bank.errors.any? %>
  <div id="error_explanation" class="alert">
    <p><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</p>
    <ul>
    <% @bank.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-box">
  <p class="new-word-bank">
    Enter a title for your new word bank and you can then begin adding words to it.
  </p>
  <%= render 'shared/form', user: @user, bank: @bank %>
</div>

<p class="users-sign-up-quote">
    "It is impossible for a man to learn what he thinks he already knows."
    - Epictetus
</p>
