<% if !current_user %>
  <p class="welcome">Welcome, please sign in or sign up to continue.</p>
<% end %>

<p class="users-index-quote">
  “As vocabulary is reduced, so are the number of feelings you can express, the number of events you can describe, the number of the things you can identify! Not only understanding is limited, but also experience. Man grows by language. Whenever he limits language he retrogresses!”
  ― Sheri S. Tepper
</p>
