<% if !current_user %>
  <p class="welcome">
    Welcome to E-Flash, where you can build custom vocabulary word banks and flash card drill those words to learn definitions and parts of speech. Please sign in or sign up to continue.
  </p>
<% else %>
  <p class="welcome">
    Click 'Create Word Bank' to begin building a new word bank or
    'View My Word Banks' to work with a bank you have already built.
  </p>
<% end %>

<p class="users-index-quote">
  “As vocabulary is reduced, so are the number of feelings you can express, the number of events you can describe, the number of the things you can identify! Not only understanding is limited, but also experience. Man grows by language. Whenever he limits language he retrogresses!”
  ― Sheri S. Tepper
</p>
