<%= form_for [@user, @bank] do |f| %>

  <div class="field">
    <div class="title"><%= f.label :title %></div>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
