<p class="message"><%= @message %></p>

<div class="drill-box">
  <p class="drill-sentence">The definition of <strong id="word"><%= @word.word %></strong> is:</p>

  <%= render 'shared/update_word', bank: @bank, word: @word, choices: @choices %>

</div>

<p class="drills-index-quote">
  "I know not how to aid you, save in the assurance of one of mature age, and much severe experience, that you can not fail, if you resolutely determine, that you will not." - Abraham Lincoln
</p>
