/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, h4, p, div, ul, li {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

* {
  font-family: georgia;
}

.welcome {
  margin: 30px auto 60px auto;
  text-align: center;
  font-size: 25px;
  width: 1000px;
}
.notice {
    margin-left: 175px;
    margin-top: 5px;
    font-size: 20px;
    color: red;
}

.alert {
  margin-left: 30px;
  color: red;
}

.alert ul {
  list-style-type: none;
}

.top-bar {
  background-color: #f18e0f;
  height: 50px;
}

.top-bar ul {
  list-style-type: none;
}

.top-bar-left li {
  float: left;
}

.top-bar-right li {
  float: right;
  margin-right: 20px;
  padding-top: 25px;
  font-size: 18px;
}

.top-bar-right li a {
  text-decoration: none;
}

.title {
  margin-left: 20px;
}

.title a {
  text-decoration: none;
}

.sign-up {
  margin-top: 20px;
  margin-left: 32px;
  margin-bottom: 20px;
}

.new-word-bank {
  font-size: 18px;
  margin-bottom: 20px;
}

.sign-in {
  padding-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.edit-profile {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.cancel-link {
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 40px;
}

.form-box {
  padding: 20px;
  width: 400px;
  background-color: #8cd0e0;
  margin: 20px auto 5px auto;
  border: 5px solid #8cbee0;
}

.simple_form div.input {
  margin-bottom: 10px;
  clear: both;
}

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

.form-actions {
  margin-top: 30px;
}

div.boolean label, label.collection_radio_buttons {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  clear: left;
  color: black;
  display: block;
  margin-left: 120px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.form-links {
  margin-left: 50px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.form-bottom {
  padding-bottom: 40px;
}

.actions {
  margin-top: 20px;
}

.show-banks-title {
  text-align: center;
  margin-top: 10px;
}

.my-banks-title {
  margin-left: 115px;
}


.bank-list {
  list-style-type: none;
}

.bank-list-item {
  margin-left: 20px;
  padding-top: 6px;
  font-size: 20px;
}

.bank-list li a {
  text-decoration: none;
}

.banks-box {
  background-color: #8cd0e0;
  margin: 20px auto 20px auto;
  width: 450px;
  height: 600px;
  border: 5px solid #8cbee0;
  float: left;
}

.bank-show-box {
  background-color: #8cd0e0;
  margin: 20px auto 20px auto;
  width: 450px;
  height: 600px;
  border: 5px solid #8cbee0;
  float: left;
}

.banks-box p, .bank-show-box p {
  float: left;
  font-size: 15px;
  text-align: center;
}

.edit-bank-link {
  margin-left: 150px;
  margin-right: 10px;
}

.add-word-column {
  float: left;
}

.add-word-box {
  background-color: #8cd0e0;
  border: 5px solid #8cbee0;
  float: left;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 40px;
  padding: 20px;
}

.add-word-paragraph {
  width: 300px;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 18px;
}


.words-list {
  list-style-type: none;
}

.words-list  li {
  float: left;
  margin: 10px auto 5px 5px;
  font-size: 18px;
}

.link  {
  display: block;
  font-size: 15px;
  width: 400px;
  text-align: left;
  margin-left: 5px;
}

.drill-link-box {

}

.drill-link {
  /*background-color: #8cd0e0;
  border: 5px solid #8ccce0;*/

  font-size: 25px;
  margin-top: 20px;
  margin-left: 70px;
  float: left;
}

.drill-link-paragraph, .bank-show-quote {
  font-size: 18px;
  width: 400px;
  float: left;
  margin-left: 20px;
  margin-top: 40px;
}

.bank-show-quote {
  margin-top: 40px;
  font-family: "Apple Chancery";
  font-size: 40px;
  text-align: center;
}

.drills-index-quote, .users-index-quote, .users-sign-up-quote {
  font-family: "Apple Chancery";
  font-size: 30px;
  width: 1000px;
  margin: 30px auto 10px auto;
}

.banks-index-quote, .banks-index-quote-right {
  font-family: "Apple Chancery";
  float: left;
  width: 320px;
  margin-right: 30px;
  margin-left: 15px;
  margin-top: 40px;
  font-size: 30px;
}

.banks-index-quote-right {
  margin-left: 50px;
}

.drill-box ul {
  list-style-type: none;
}
.drill-box {
  background-color: #8cd0e0;
  border: 5px solid #8cbee0;
  margin: 30px auto 20px auto;
  width: 900px;
  height: 300px;
  font-size: 20px;
}

.drill-sentence {
  margin-top: 20px;
  margin-left: 20px;
}

.drill-sentence strong {
  text-decoration: underline;
}

.drill-choice {
  margin-top: 10px;
  margin-left: 20px;

}

.drill-button {
  margin-left: 20px;
  margin-top: 20px;
}

.message {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.banks-index-sentence {
  text-align: center;
}

.word {
  background-color: ;
}
